GATEWAY_DATABASE_URL="postgresql://postgres:cmv_gateway@db_gateway:5432/cmv_gateway"
PATIENTS_DATABASE_URL="postgresql://postgres:cmv_patients@db_patients:5432/cmv_patients"
CHAMBRES_DATABASE_URL="postgresql://postgres:cmv_chambres@db_chambres:5432/cmv_chambres"
GATEWAY_POSTGRES_USER="postgres"
GATEWAY_POSTGRES_PASSWORD="cmv_gateway"
GATEWAY_POSTGRES_DB="cmv_gateway"
PATIENTS_POSTGRES_USER="postgres"
PATIENTS_POSTGRES_PASSWORD="cmv_patients"
PATIENTS_POSTGRES_DB="cmv_patients"
CHAMBRES_POSTGRES_USER="postgres"
CHAMBRES_POSTGRES_PASSWORD="cmv_chambres"
CHAMBRES_POSTGRES_DB="cmv_chambres"
MY_NETWORK="cmv"
SECRET_KEY="cle_tres_secrete cle_tres_secrete cle_tres_secrete cle_tres_secrete"
PATIENTS_SECRET_KEY="cle_tres_secrete cle_tres_secrete cle_tres_secrete cle_tres_secrete2"
CHAMBRES_SECRET_KEY="cle_tres_secrete cle_tres_secrete cle_tres_secrete cle_tres_secrete3"
ML_SECRET_KEY="cle_tres_secrete cle_tres_secrete cle_tres_secrete cle_tres_secrete4"
ALGORITHM="HS256"
ACCESS_MAX_AGE="20"
REFRESH_MAX_AGE="60"
PATIENTS_SERVICE="http://api_patients:8000/api"
CHAMBRES_SERVICE="http://api_chambres:8000/api"
ML_SERVICE="http://api_ml:8000"
VALKEY_HOST="http://redis"
VALKEY_PORT="6379"
TEST_DATABASE_URL="sqlite:///:memory:"
TEST_GATEWAY_POSTGRES_DB="test-gateway"
AWS_BUCKET_NAME="nom_du_bucket"
AWS_ACCESS_KEY_ID="aws_access_key_id"
AWS_SECRET_ACCESS_KEY="aws_secret_access_key"
AWS_REGION="aws_region"
ENVIRONMENT="production"
VITE_ENVIRONMENT="production"

ML_DATABASE_URL="postgresql://postgres:cmv_ml@db_ml:5432/cmv_ml"
ML_POSTGRES_USER="postgres"
ML_POSTGRES_PASSWORD="cmv_ml"
ML_POSTGRES_DB="cmv_ml"
MODEL_PATH="./models/model.ubj"
SHAP_ENABLED="False"
HMAC="cle_tres_secrete cle_tres_secrete cle_tres_secrete cle_tres_secrete5"
