# On définit l'adresse interne de Caddy
caddy_internal {
    # Caddy génère ses propres certificats locaux
    tls internal

    # On route vers le service Patient
    handle /patients/* {
        uri replace /patients /api 1
        reverse_proxy http://cmv_patients:8000
    }

    # On route vers le service Chambres
    handle /chambres/* {
        uri replace /chambres /api 1
        reverse_proxy http://cmv_chambres:8000
    }

    # On route vers le service ML (pas de préfixe /api)
    handle /ml/* {
        uri strip_prefix /ml
        reverse_proxy http://cmv_ml:8000
    }
}