fastapi
sqlalchemy
psycopg2-binary
uvicorn
python-dotenv
alembic
cryptography
python-jose
passlib
bcrypt==4.1.2
httpx
fastapi_limiter
email-validator
faker
pytest 
pytest-asyncio 
pytest-mock
pytest-httpx
fakeredis
aiohttp
python-multipart