fastapi
sqlalchemy
psycopg2-binary
uvicorn
python-dotenv
alembic
cryptography
python-jose
passlib
bcrypt
httpx
fastapi_limiter
faker
pytest
pytest-asyncio
pytest-mock
pytest-httpx
fakeredis
aiohttp
python-multipart
email-validator
boto3